<% include ./partials/header%>

	<p class="space-l"></p>

	<!-- Modal -->
	<div class="modal fade" id="buy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content cart">
	      <div class="modal-header text-center">
	        <h5 class="modal-title w-100 added" id="exampleModalLabel">
	        	The item was added to your cart!
	    	</h5>
	    	<img src="https://ui-ex.com/images/bookshelf-drawing-pixel-art-6.png" id="mario">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-footer">
	      	<a href="/checkout">
	      		<button type="button" class="btn btn-primary">
	      			Go to checkout
	      		</button>
	      	</a>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Jubmbotron -->
	<div class="jumbotron">
		<h1 class="display-4">Welcome to Supa Famicom!</h1>
		<p class="lead">
	  		Our mission is to offer you the best games ever produced for the legendary Super Nintendo Entertainment System, in mint condition, with the most competitive prices found anywhere on the web!
	  		<hr class="my-4">
	    </p>
		<p>
			<button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Learn More
			</button>
		</p>
		<div class="collapse" id="collapseExample">
			<div class="card card-body">
				Our staff makes regular trips to the world renowned mecca of games, Akihabara, ceaselessly scouring every nook and cranny in the markets in order to bring you the rarest gems of games ever produced. We are driven by a passion for the games of a bygone era, and the desire to give you the chance to experience the pinnacle of old-school gaming, delivered via the greatest console ever made.
			</div>
		</div>  
	</div>

	<!-- Thumbnails -->
	<div class="row">
		<div class="col-12">
			<img src="https://www.hit-japan.com/console2/S22309667001.jpg" class="img-thumbnail">
		</div>
	</div>

	<p class="space"></p>

	<div class="row text-center">
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="https://static.giantbomb.com/uploads/original/9/93770/2364834-snes_supermarioworld_au.jpg" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#super_mario_world">
				  		Super Mario World
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="super_mario_world" tabindex="-1" role="dialog" aria-labelledby="super_mario_world_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="super_mario_world_Title">
				        	<img src="https://cdn.worldvectorlogo.com/logos/super-mario-world.svg">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        Super Mario World is a 1990 side-scrolling platform game developed and published by Nintendo for the Super Nintendo Entertainment System (SNES). The story follows Mario's quest to save Princess Toadstool and Dinosaur Land from the series antagonist Bowser and his minions, the Koopalings. The gameplay is similar to that of earlier Super Mario games: Players control Mario or his brother Luigi through a series of levels in which the goal is to reach the flagpole at the end. Super Mario World introduced Yoshi, a dinosaur who can eat enemies and gain abilities by eating the shells of Koopa Troopas.<p></p>Nintendo Entertainment Analysis & Development developed the game, led by director Takashi Tezuka and producer and series creator Shigeru Miyamoto. It is the first Mario game for the SNES and was designed to make the most of the console's technical features. The development team had more freedom compared to the series instalments for the Nintendo Entertainment System (NES). Yoshi was conceptualised during the development of the NES games but was not used until Super Mario World due to hardware limitations.<p></p>Super Mario World is often considered one of the greatest video games of all time. It sold over 20 million copies worldwide, making it the best-selling SNES game. It also led to an animated television series of the same name and a prequel, Yoshi's Island, released in August and October 1995. It has been rereleased on multiple occasions: It was part of the 1994 compilation Super Mario All-Stars + Super Mario World for the SNES and was rereleased for the Game Boy Advance as Super Mario World: Super Mario Advance 2 in 2001, on the Virtual Console for the Wii, Wii U, and New Nintendo 3DS consoles, and as part of the Super NES Classic Edition.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$49</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="https://i.ebayimg.com/images/g/zPMAAOSw2W1cx4NA/s-l640.png" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#final_fantasy_III">
				  		Final Fantasy III
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="final_fantasy_III" tabindex="-1" role="dialog" aria-labelledby="final_fantasy_III_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header text-center">
				        <h5 class="modal-title w-100" id="final_fantasy_III_Title">
				        	<img class="center" src="https://vignette.wikia.nocookie.net/finalfantasy/images/3/36/FFVI_logo.png/revision/latest?cb=20160920112443">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        Final Fantasy VI, also known as Final Fantasy III from its marketing for initial North American release in 1994, is a role-playing video game developed and published by Japanese company Square for the Super Nintendo Entertainment System. Final Fantasy VI, being the sixth game in the series proper, was the first to be directed by someone other than producer and series creator Hironobu Sakaguchi; the role was filled instead by Yoshinori Kitase and Hiroyuki Ito. Yoshitaka Amano, long-time collaborator to the Final Fantasy series, returned as the character designer and contributed widely to visual concept design, while series-regular, composer Nobuo Uematsu, wrote the game's score, which has been released on several soundtrack albums. Set in a fantasy world with a technology level equivalent to that of the Second Industrial Revolution, the game's story follows an expanding cast that includes fourteen permanent playable characters. The drama includes and extends past depicting a rebellion against an evil military dictatorship, pursuit of a magical arms-race, use of chemical weapons in warfare, depiction of violent, apocalyptic confrontations with Divinities, several personal redemption arcs, teenage pregnancy, and the continuous renewal of hope and life itself.<p></p>Final Fantasy VI was released to critical acclaim and is seen as a landmark title for the role-playing genre; for instance, it was ranked as the 2nd best RPG of all time by IGN in 2017. Its SNES and PlayStation versions have sold over 3.48 million copies worldwide to date as a stand-alone game, as well as over 750,000 copies as part of the Japanese Final Fantasy Collection and the North American Final Fantasy Anthology. Final Fantasy VI has won numerous awards and is considered by many to be one of the greatest video games of all time.<p></p>It was ported by Tose with minor differences to Sony's PlayStation in 1999 and Nintendo's Game Boy Advance in 2006, and it was released for the Wii's Virtual Console in 2011. Nintendo re-released Final Fantasy VI in the United States in September 2017 as part of the company's Super NES Classic Edition. The game was known as Final Fantasy III when it was first released in North America, as the original Final Fantasy II, Final Fantasy III, and Final Fantasy V had not been released outside Japan at the time (leaving IV as the second title released outside Japan and VI as the third). However, most later localizations use the original title.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$89</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="https://i.redd.it/abxb2dw3xfqz.png" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#chrono_trigger">
				  		Chrono Trigger
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="chrono_trigger" tabindex="-1" role="dialog" aria-labelledby="chrono_trigger_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header text-center">
				        <h5 class="modal-title w-100" id="chrono_trigger_Title">
				        	<img class="center" src="https://chronotrigger.square-enix-games.com/static/logo.png">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				      Chrono Trigger is a role-playing video game developed and published by Square for the Super Nintendo Entertainment System in 1995 that began the Chrono series. Chrono Trigger's development team included three designers that Square dubbed the "Dream Team": Hironobu Sakaguchi, the creator of Square's successful Final Fantasy series; Yuji Horii, a freelance designer and creator of Enix's popular Dragon Quest series; and Akira Toriyama, a manga artist famed for his work with Dragon Quest and Dragon Ball. In addition, Kazuhiko Aoki produced the game, Masato Kato wrote most of the story, while composer Yasunori Mitsuda wrote most of the soundtrack before falling ill and deferring the remaining tracks to Final Fantasy series-composer Nobuo Uematsu. The game's story follows a group of adventurers who travel through time to prevent a global catastrophe.<p></p>Chrono Trigger was a critical and commercial success upon release, and is frequently cited as one of the greatest video games of all time. Nintendo Power magazine described aspects of Chrono Trigger as revolutionary, including its multiple endings, plot-related side-quests focusing on character development, unique battle system, and detailed graphics. Chrono Trigger was the third best-selling game of 1995 in Japan, and shipped 2.65 million copies worldwide by March 2003.<p></p>Square released a ported version by Tose in Japan for the PlayStation in 1999, which was later repackaged with a Final Fantasy IV port as Final Fantasy Chronicles (2001) for the North American market. A slightly enhanced Chrono Trigger, again ported by Tose, was released for the Nintendo DS in North America and Japan in 2008, and PAL regions in 2009. The Nintendo DS version sold 790,000 copies by March 2009, after about a year of sales. Chrono Trigger has also been ported to i-mode mobile phones, Virtual Console, the PlayStation Network, iOS devices, Android devices, and Microsoft Windows.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$99</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="https://upload.wikimedia.org/wikipedia/en/5/52/Star_Fox_SNES.jpg" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#star_fox">
				  		Star Fox
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="star_fox" tabindex="-1" role="dialog" aria-labelledby="star_fox_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header text-center">
				        <h5 class="modal-title w-100" id="star_fox_Title">
				        	<img class="center" src="https://vignette.wikia.nocookie.net/logopedia/images/f/fa/StarFox_1993.png/revision/latest?cb=20190106130119">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				       Star Fox, released as Starwing in Europe, is a 1993 rail shooter video game co-developed by Nintendo EAD and Argonaut Software and published by Nintendo for the Super Nintendo Entertainment System (SNES). The first game in the Star Fox series, Star Fox follows Fox McCloud and the rest of the Star Fox team defending their homeworld of Corneria against the attacking forces of Andross. It ultimately sold over 4 million copies.<p></p>Star Fox was Nintendo's second 3D game after the release of X for the Game Boy in 1992. However, it was Nintendo's first game to use polygonal graphics. It accomplished this by being the first ever game to use the Super FX graphics acceleration coprocessor powered GSU-1. The complex display of three-dimensional models with polygons was still new and uncommon in console video games, and the game was praised as a result.<p></p>It was rebooted as Star Fox 64 on the Nintendo 64 in 1997, which itself was remade as Star Fox 64 3D on the Nintendo 3DS in 2011 and reimagined as Star Fox Zero on the Wii U in 2016.<p></p>Nintendo re-released Star Fox worldwide in September 2017 as part of the Super NES Classic Edition, along with its previously unreleased sequel Star Fox 2.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$55</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="https://nintendowire.com/wp-content/uploads/2017/09/SNES-SuperMarioRPG-LegendOfSevenStars-BoxArt.jpg" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#super_mario_rpg">
				  		Super Mario RPG
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="super_mario_rpg" tabindex="-1" role="dialog" aria-labelledby="super_mario_rpg_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header text-center">
				        <h5 class="modal-title w-100" id="super_mario_rpg_Title">
				        	<img class="center" src="https://vignette.wikia.nocookie.net/logopedia/images/c/c5/Supermariorpglegendofthxq1.png/revision/latest?cb=20140329095941">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				       Super Mario RPG: Legend of the Seven Stars is a role-playing video game (RPG) developed by Square and published by Nintendo for the Super Nintendo Entertainment System in 1996. It is the first RPG in the Mario franchise, with major elements drawn from Square's RPG franchises and action-based gameplay reminiscent of the Super Mario series.<p></p>Super Mario RPG was directed by Yoshihiko Maekawa and Chihiro Fujioka and produced by Mario creator Shigeru Miyamoto. Yoko Shimomura composed the score, which was released on a soundtrack album in Japan. The story focuses on Mario and his party as they seek to eliminate Smithy, who has stolen the seven star pieces of Star Road. The game features five playable charcters. It was not released in PAL regions such as Europe.<p></p>Super Mario RPG was well-received and particularly praised for its humor and 3D-rendered graphics; it appears on lists of the greatest video games of all time. It was followed by the Paper Mario and Mario & Luigi series, spiritual sequels which reuse some gameplay elements. Nintendo published Super Mario RPG to the Wii Virtual Console service in 2008 and the Wii U Virtual Console service in 2016. It was also re-released with the Super NES Classic Edition in 2017.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$89</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="https://www.mobygames.com/images/covers/l/25304-donkey-kong-country-snes-front-cover.jpg" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#donkey_kong_country">
				  		Donkey Kong Country
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="donkey_kong_country" tabindex="-1" role="dialog" aria-labelledby="donkey_kong_country_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header text-center">
				        <h5 class="modal-title w-100" id="donkey_kong_country_Title">
				        	<img class="center" src="https://www.mariowiki.com/images/thumb/4/41/DKCLogo.png/1200px-DKCLogo.png">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				       Donkey Kong Country is a 1994 platform game developed by Rare and published by Nintendo for the Super Nintendo Entertainment System. The game centers on the duo of Donkey Kong and his nephew Diddy Kong, who are on a quest to recover their stolen banana hoard from King K. Rool and his henchmen Kremlings.<p></p>Development began shortly after Rare founders, brothers Tim and Chris Stamper, ran experiments with a Silicon Graphics (SGI) workstation to render 3D sprites. Nintendo became interested in Rare's work and acquired 49% of the company, leading to the production of a game for the SNES utilizing Alias and SGI technology. The Stamper brothers expressed interest in creating a standalone Donkey Kong game and assembled a team of 12 developers to work on the game over 18 months. Donkey Kong Country is the first Donkey Kong game that was not produced or directed by the franchise's creator Shigeru Miyamoto, though he was involved with the project.<p></p>Following an aggressive marketing campaign, Donkey Kong Country received critical acclaim and sold more than nine million copies worldwide, making it the third best-selling SNES game and has been cited as one of the greatest video games of all time. It was ported to the Game Boy Color and Game Boy Advance consoles, and was made available for Nintendo's Virtual Console. Donkey Kong Country is the first game in the Donkey Kong Country series and was followed by two sequels on the SNES: Donkey Kong Country 2: Diddy's Kong Quest in 1995, and Donkey Kong Country 3: Dixie Kong's Double Trouble! in 1996.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$49</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>

	<p class="space-s"></p>

	<div class="row">
		<div class="col-lg-6 col-md-12 emphasized">
			<img src="https://i.ytimg.com/vi/5bBoVEpICnw/maxresdefault.jpg" class="img-thumbnail">
		</div>
		<div class="col-lg-6 col-md-12 emphasized">
			<img src="https://www.destructoid.com//ul/392080-sflvheader.jpg" class="img-thumbnail">
		</div>
		<div class="col-12 emphasized">
			<img src="http://images.nintendolife.com/af93ce7985824/img6037.original.jpg" class="img-thumbnail">
		</div>
	</div>

	<p class="space"></p>

	<!-- Thumbnails -->
	<div class="row text-center">
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="https://pixelkin.org/wp-content/uploads/2017/11/super-mario-kart.jpg" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#super_mario_kart">
				  		Super Mario Kart
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="super_mario_kart" tabindex="-1" role="dialog" aria-labelledby="super_mario_kart_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="super_mario_kart_Title">
				        	<img src="https://burkeygaming.files.wordpress.com/2018/02/smk-e1544053624149.png?w=611&h=197">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        Super Mario Kart is a 1992 kart racing video game developed and published by Nintendo for the Super Nintendo Entertainment System video game console. The first game of the Mario Kart series, it was released in Japan and North America in 1992, and in Europe the following year. Selling 8.76 million copies worldwide, the game went on to become the fourth best selling SNES game of all time. Super Mario Kart was re-released on the Wii's Virtual Console in 2009, and on the Wii U's Virtual Console in 2013. Nintendo re-released Super Mario Kart in the United States in September 2017 as part of the company's Super NES Classic Edition.<p></p>In Super Mario Kart, the player takes control of one of eight Mario series characters, each with differing capabilities. In single player mode players can race against computer-controlled characters in multi-race cups over three difficulty levels. During the races, offensive and speed boosting power-ups can be used to gain an advantage. Alternatively players can race against the clock in a Time Trial mode. In multi-player mode two players can simultaneously take part in the cups or can race against each other one-on-one in Match Race mode. In a third multiplayer mode – Battle Mode – the aim is to defeat the other players by attacking them with power-ups, destroying balloons which surround each kart.<p></p>Super Mario Kart received positive reviews and was praised for its presentation, innovation and use of Mode 7 graphics. It has been ranked among the greatest video games of all time by several organizations including Edge, IGN, The Age and GameSpot, while Guinness World Records has named it as the top console game ever. It is often credited with creating the kart-racing subgenre of video games, leading other developers to try to duplicate its success. The game is also seen as having been key to expanding the Mario series into non-platforming games. This diversity has led to it becoming the best-selling game franchise of all time. Several sequels to Super Mario Kart have been released, for consoles, handhelds and in arcades, each enjoying critical and commercial success. While some elements have developed throughout the series, the core experience from Super Mario Kart has remained intact.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$39</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="http://www.macrossworld.com/mwf/uploads/monthly_2018_01/axelay_snes.jpg.843330616aa16dd356bd07f2b273bdd9.jpg" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#axelay">
				  		Axelay
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="axelay" tabindex="-1" role="dialog" aria-labelledby="axelay_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header text-center">
				        <h5 class="modal-title w-100" id="axelay_Title">
				        	<img class="center" src="https://images.launchbox-app.com/3c88f992-61d4-4705-9a4d-ce60bb3a0c07.png">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        Axelay (アクスレイ, Akusurei) is a 1992 scrolling shooter video game developed and published by Konami of Japan for the Super Nintendo Entertainment System. Taro Kudo primarily composed the game's soundtrack.<p></p>Axelay is a sci-fi scrolling-shooter in the same vein as other Konami titles such as Life Force (Salamander) and Gradius. The game features both horizontal and vertically scrolling levels and allows the player to choose three different weapon-types, which increase in number as they progress through the game.<p></p>Axelay takes place in the fictional planetary system known as Illis. Once a peaceful system, it was invaded by an alien empire known as the Armada of Annihilation, taking over the planets of the Illis system, including the Earth-like Corliss (known in the Japanese version as "Mother"). As a last resort against the alien forces, the D117B Axelay fighter is sent out to recover its lost weaponry and put a stop to the invasion.<p></p>Having traversed the cloud covered Cumuluses, the space colony Tralieb, the largely populated Urbanite, the watery Cavern, and Sector 3 Lava Planet, Axelay makes its way to the Armada of Annihilation's Fortress and completes its mission.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$39</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="https://www.mobygames.com/images/covers/l/78995-super-punch-out-snes-front-cover.png" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#super_punch_out">
				  		Super Punch Out
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="super_punch_out" tabindex="-1" role="dialog" aria-labelledby="super_punch_out_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header text-center">
				        <h5 class="modal-title w-100" id="super_punch_out_Title">
				        	<img class="center" src="https://images.launchbox-app.com/bf86ee75-7cef-480c-a822-5270e602293f.png">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				       Super Punch-Out!! is a boxing video game developed and published by Nintendo for the Super Nintendo Entertainment System (SNES). It was released on September 14, 1994 in North America and again in the same region in 1996. It was released in Europe on January 26, 1995 for the same console and in Japan in 1998 for the Nintendo Power flash RAM cartridge series and the Super Famicom. The game is also included in the GameCube version of Fight Night Round 2 as an extra game due to the inclusion of Little Mac in the game. The game was released for the Wii's Virtual Console in Europe on March 20, 2009, in North America on March 30, 2009, and in Japan on July 7, 2009. The game was also released on the New Nintendo 3DS eShop on May 5, 2016. Nintendo re-released Super Punch-Out!! in the United States in September 2017 as part of the company's Super NES Classic Edition. It is the fourth game in the Punch-Out!! series, taking place after the Punch-Out!! game for the NES.<p></p>In Super Punch-Out!! the player controls Little Mac, as he fights his way to become the World Video Boxing Association champion. Players, fighting from a "behind the back" perspective, must knockout their opponent in three minutes to win. Players can launch jabs, hooks, and uppercuts against their opponents as well as block, dodge, and duck opponents' attacks. Nintendo Integrated Research and Development, led by Genyo Takeda, Minoru Arakawa and Makoto Wada, developed the game. It also featured voice acting by Charles Martinet.<p></p>The game received praise from reviewers for its cartoon-like style, its colorful, outlandish opponents, simple gameplay controls, and replay value. The game also featured colorful, detailed graphics, which included the usage of transparency that facilitates the game's "behind the back" perspective. Other reviewers had said that this game lacked the overall appeal, gameplay, or audience of its predecessor.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$49</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="http://nerdbacon.com/wp-content/uploads/2014/06/SoM.png" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#secret_of_mana">
				  		Secret of Mana
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="secret_of_mana" tabindex="-1" role="dialog" aria-labelledby="secret_of_mana_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header text-center">
				        <h5 class="modal-title w-100" id="secret_of_mana_Title">
				        	<img class="center" src="https://www.fantasyanime.com/mana/som_index_logo.png">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				       Secret of Mana, originally released in Japan as Seiken Densetsu 2, is a 1993 action role-playing game developed and published by Square (now Square Enix) for the Super Nintendo Entertainment System. It is the sequel to the 1991 game Seiken Densetsu, released in North America as Final Fantasy Adventure and in Europe as Mystic Quest, and it was the first Seiken Densetsu title to be marketed as part of the Mana series rather than the Final Fantasy series. Set in a high fantasy universe, the game follows three heroes as they attempt to prevent an empire from conquering the world with the power of an ancient flying fortress.<p></p>Rather than using a turn-based battle system like contemporaneous role-playing games, Secret of Mana features real-time battles with a power bar mechanic. The game has a unique Ring Command menu system, which pauses the action and allows the player to make decisions in the middle of battle. An innovative cooperative multiplayer system allows a second or third player to drop in and out of the game at any time. Secret of Mana was directed and designed by Koichi Ishii, programmed primarily by Nasir Gebelli, and produced by veteran Square designer Hiromichi Tanaka.<p></p>The game received considerable acclaim for its brightly colored graphics, expansive plot, Ring Command menu system, and innovative real-time battle system. Critics also praised the soundtrack by Hiroki Kikuta and the customizable artificial intelligence (AI) settings for computer-controlled allies.<p></p>The original version was released for the Nintendo Wii's Virtual Console in Japan in September 2008, and for the Wii U's Virtual Console in June 2013. The game was ported to mobile phones in Japan in 2009, and an enhanced port of the game was released for iOS in 2010 and Android in 2014. It was included in the Collection of Mana release for the Nintendo Switch in Japan in June 2017 and North America in June 2019, and Nintendo re-released Secret of Mana in September 2017 as part of the company's Super NES Classic Edition. A full 3D remake was released for the PlayStation 4, PlayStation Vita, and Microsoft Windows in February 2018.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$75</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="https://i.imgur.com/jm28nQK.jpg" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#super_metroid">
				  		Super Metroid
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="super_metroid" tabindex="-1" role="dialog" aria-labelledby="super_metroid_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header text-center">
				        <h5 class="modal-title w-100" id="super_metroid_Title">
				        	<img class="center" src="https://vignette.wikia.nocookie.net/logopedia/images/f/f0/Super_Metroid_logo.png/revision/latest?cb=20130719011329">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				       Super Metroid is an action-adventure game developed and published by Nintendo for the Super Nintendo Entertainment System in 1994. It is the third installment in the Metroid series, following the events of the Game Boy game Metroid II: Return of Samus (1991). Players control bounty hunter Samus Aran, who travels to planet Zebes to retrieve an infant Metroid creature stolen by the Space Pirate leader Ridley. It was released through Nintendo's Virtual Console in 2007 and as part of the Super NES Classic Edition microconsole in 2017.<p></p>The gameplay focuses on exploration, with the player searching for power-ups that are used to reach previously inaccessible areas. It features new concepts to the series, such as the inventory screen, an automap, and the ability to fire in all directions. The development staff from previous Metroid games—including Yoshio Sakamoto, Makoto Kano and Gunpei Yokoi—returned to develop Super Metroid over the course of two years, with half a year earlier to gain approval for the initial idea. The developers wanted to make a true action game, and to set the stage for Samus's reappearance.<p></p>The game received critical acclaim, praising its atmosphere, gameplay, music and graphics. It is often cited as one of the best video games of all time. Although the game did not sell well in Japan, it fared better in North America and had shipped 1.42 million copies worldwide by late 2003. Super Metroid, alongside Castlevania: Symphony of the Night (1997), is credited for establishing the "Metroidvania" subgenre, and has inspired other games within the genre. It also became popular among players for speedrunning. The game was followed by the 2002 release of Metroid Fusion and Metroid Prime, ending the series' eight-year hiatus.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$85</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="https://i.imgur.com/x6UtPvg.png" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#mega_man_x3">
				  		Mega Man X3
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="mega_man_x3" tabindex="-1" role="dialog" aria-labelledby="mega_man_x3_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header text-center">
				        <h5 class="modal-title w-100" id="mega_man_x3_Title">
				        	<img class="center" src="http://www.sprites-inc.co.uk/files/X/Titles/X3.gif">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				       Mega Man X3, known as Rockman X3 (ロックマンX3) in Japan, is a video game released by Capcom for the Super Nintendo Entertainment System (SNES). The game was originally released in Japan on December 1, 1995 and later in North American and PAL regions in 1996. It is the third game in the Mega Man X series and the last to appear on the SNES. Mega Man X3 takes place in a fictional future in which the world is populated by humans and intelligent robots called "Reploids". Like their human creators, some Reploids involve themselves in destructive crime and are labelled as "Mavericks". After twice defeating the Maverick leader Sigma, the heroes Mega Man X and Zero must battle a Reploid scientist named Dr. Doppler and his utopia of Maverick followers.<p></p>Mega Man X3 follows in the tradition of both the original Mega Man series and the Mega Man X series as a standard action-platform game. The player traverses a series of eight stages in any order while gaining various power-ups and taking the special weapon of each stage's end boss. Mega Man X3 is the first game in the series in which Zero is a playable character (albeit in limited form) in addition to X. Like its predecessor, Mega Man X2, X3 features the "Cx4" chip to allow for some limited 3D vector graphics and transparency effects.<p></p>A 32-bit version of Mega Man X3 was released on the PlayStation, Sega Saturn, and Windows in various countries. This version was included on the North American Mega Man X Collection in 2006. The game was also ported to Japanese mobile phones in 2010. Critical reception for Mega Man X3 has been above average. However, the game, particularly the 32-bit version, has received miscellaneous criticism from reviewers for its lack of improvements to the series.<p></p>Capcom announced that the SNES version of Mega Man X3 would be coming to the Wii U Virtual Console in 2014. It was released in North America on August 28, 2014, Japan on October 8, 2014 and the PAL regions on November 6, 2014.<p></p>Recently, the SNES version was released on the PC, as well as the PlayStation 4, Xbox One, and Nintendo Switch as part of Mega Man X Legacy Collection (Rockman X Anniversary Collection in Japan) which released on July 24, 2018 worldwide and July 26, 2018 in Japan.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$99</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>

	<p class="space-s"></p>	

	<div class="row">
		<div class="col-lg-6 col-md-12 emphasized">
			<img src="https://i.ytimg.com/vi/R0vymtSutOc/maxresdefault.jpg" class="img-thumbnail">
		</div>
		<div class="col-lg-6 col-md-12 emphasized">
			<img src="https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/4/2017/08/super-potato-interior-1024x768.jpg" class="img-thumbnail">
		</div>
		<div class="col-12 emphasized">
			<img src="https://uploads.disquscdn.com/images/c612c2ce1475a8a49b4c3e91cbcd320e6645172152c16e720e9d2747fd303ef5.jpg" class="img-thumbnail">
		</div>
	</div>

	<p class="space"></p>

	<!-- Thumbnails -->
	<div class="row text-center">
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="https://cf.geekdo-images.com/camo/f4254fb0fb95fd191992d5779943f5c9799252ad/687474703a2f2f7373736b696e6e65722e66696c65732e776f726470726573732e636f6d2f323031302f31322f36303066756c6c2d73757065722d636173746c6576616e69612d69762d73637265656e73686f742e6a7067" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#super_castlevania_IV">
				  		Super Castlevania IV
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="super_castlevania_IV" tabindex="-1" role="dialog" aria-labelledby="super_castlevania_IV_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="super_castlevania_IV_Title">
				        	<img src="https://www.sccpre.cat/mypng/full/38-383530_super-castlevania-iv-super-castlevania-iv-logo.png">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        Super Castlevania IV is a 1991 platform game developed and published by Konami. Released originally for the Super Nintendo Entertainment System, it has been re-released multiple times, including for the Super NES Classic Edition.<p></p>Super Castlevania IV features expanded play control, 16-bit graphics featuring SNES Mode 7, and a soundtrack featuring brand new pieces and arrangements based on previous Castlevania music. Following the same setting as Castlevania on the NES, the game takes place in 1691 Transylvania, where the vampire hunter Simon Belmont must defeat the vampire Dracula. The game received critical acclaim with some calling it one of the greatest video games of all time.<p></p>Super Castlevania IV is a side-scrolling platform game where the player takes control of Simon through eleven levels. Players begin the game with five lives, and it ends in a game over once they have lost them all. The player will lose a life if all of Simon's health gauge is depleted or if they do not finish the level within the time limit. The health gauge can be restored through food items that can be dropped from candles and breakable blocks, or with the Magic Crystal, which is received after defeating the boss at end of each level. A password can also be entered to continue the game.<p></p>With Simon's whip, players can attack enemies in eight directions with the use of the control pad. By holding down the attack button, the whip will go limp and can be waved around with the control pad, which can be used to block projectiles. The length and power of the whip can be increased up to two levels by collecting an item called the Morning Star. The whip is not only used for fighting, but also for latching onto rings to swing over areas that are too wide or dangerous for the player to jump across. In addition to jumping, the player can control Simon to move while crouching.<p></p>Like its predecessors, players can use secondary weapons that consume Simon's "Hearts", which are dropped from candles and enemies. The secondary weapons include but are not limited to an axe which can be thrown in an arc, a watch which stops all enemy motion and a dagger that can be thrown across the screen. Collecting the items known as the Double and Triple Shots allows the player to throw secondary weapons up to three times in a row
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$69</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="https://www.mobygames.com/images/covers/l/35572-teenage-mutant-ninja-turtles-turtles-in-time-snes-front-cover.jpg" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#tmnt">
				  		TMNT Turtles in Time
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="tmnt" tabindex="-1" role="dialog" aria-labelledby="tmnt_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header text-center">
				        <h5 class="modal-title w-100" id="tmnt_Title">
				        	<img class="center" src="https://images.launchbox-app.com/c88e80cb-babc-4d94-9874-b621b689cecd.png">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				       Teenage Mutant Ninja Turtles: Turtles in Time, released as Teenage Mutant Hero Turtles: Turtles in Time in Europe, is an arcade video game produced by Konami. A sequel to the original Teenage Mutant Ninja Turtles (TMNT) arcade game, it is a scrolling beat 'em up type game based mainly on the 1987 TMNT animated series. Originally an arcade game, Turtles in Time was ported to the Super Nintendo Entertainment System in 1992 under the title Teenage Mutant Ninja Turtles IV: Turtles in Time, continuing the numbering from the earlier Turtles games released on the original NES. That same year, a game that borrowed many elements, Teenage Mutant Ninja Turtles: The Hyperstone Heist, was released for the Mega Drive/Genesis.<p></p>17 years later, the arcade version of Turtles in Time was revisited on newer consoles. A slightly altered version of the arcade game was included as an unlockable bonus in the 2005 game Teenage Mutant Ninja Turtles 3: Mutant Nightmare. On 5 August 2009, Ubisoft released a 3D remake of the game, Teenage Mutant Ninja Turtles: Turtles in Time Re-Shelled, available as a download for Xbox 360 via Xbox Live Arcade. A downloadable PlayStation 3 version was later released via PlayStation Network on September 10, 2009.<p></p>Like its predecessor, Turtles in Time was available for the arcades in two and four-player versions. In the two-player versions, each player gets to choose which of the four turtles they wish to control, whereas in the four-player versions the characters are assigned to the control panel from left to right in the following order: Leonardo, Michelangelo, Donatello, and Raphael. Each playable character has his own strengths and weaknesses. New features in this game include the ability to execute a power attack by hitting an enemy several times in a row, and the ability to slam Foot Soldiers into surrounding enemies.<p></p>The game features the same control scheme of the previous arcade release. It uses a joystick for movement, an attack button and a jump button. Certain joystick/button combinations can make a Turtle run, perform a slide or dash attack, jump higher, perform a stationary or directed air attack, or perform a special attack.<p></p>Players guide the turtles through a series of levels. The first takes place in the streets of New York City. Later levels transport the turtles to representations of various historical eras. In each level, players face enemies from both the 1987 cartoon and the feature film Teenage Mutant Ninja Turtles II: The Secret of the Ooze, including Foot Soldier and Stone Warriors. Bosses include the fly form of Baxter Stockman, Metalhead, Tokka and Rahzar and Leatherhead.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$79</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="https://i.pinimg.com/originals/97/7d/6f/977d6f39e9a5d5842ceb8a382a099cc7.png" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#super_mario_all_stars">
				  		Super Mario All Stars
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="super_mario_all_stars" tabindex="-1" role="dialog" aria-labelledby="super_mario_all_stars_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header text-center">
				        <h5 class="modal-title w-100" id="super_mario_all_stars_Title">
				        	<img class="center" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/11a10a01-ac23-4fea-ad5a-b51f53084159/db1qbo1-ea2efa9b-759a-4792-94d1-b903c7f7dfd6.png/v1/fill/w_1024,h_426,strp/super_mario_all_stars_logo_by_ringostarr39_db1qbo1-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDI2IiwicGF0aCI6IlwvZlwvMTFhMTBhMDEtYWMyMy00ZmVhLWFkNWEtYjUxZjUzMDg0MTU5XC9kYjFxYm8xLWVhMmVmYTliLTc1OWEtNDc5Mi05NGQxLWI5MDNjN2Y3ZGZkNi5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.jTrvlfzDDY2D6K__qNEfy_I41jyPpW0aAhOWX45m7Vc">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				       Super Mario All-Stars is a 1993 compilation of platform games for the Super Nintendo Entertainment System (SNES). It contains remakes of Nintendo's four Super Mario titles released for the Nintendo Entertainment System (NES) and its Family Computer Disk System add-on—Super Mario Bros. (1985), Super Mario Bros.: The Lost Levels (1986), Super Mario Bros. 2 (1988), and Super Mario Bros. 3 (1988). They are faithful recreations that adapt the games' original premises and level designs for the SNES with updated graphics and music. As in the original games, the player controls the Italian plumber Mario and his brother Luigi through themed worlds, collecting power-ups, avoiding obstacles, and finding secret areas. Changes include the addition of parallax scrolling and modified game physics, while some glitches are fixed.<p></p>After the completion of Super Mario Kart (1992), Mario creator Shigeru Miyamoto suggested that Nintendo develop a SNES Mario compilation. Nintendo Entertainment Analysis & Development handled development of Super Mario All-Stars. As the 16-bit SNES was more powerful than the 8-bit NES, the developers were able to remaster the games in the transition across platforms. They based the updated designs on those from Super Mario World (1990) and strove to retain the feel of the original NES Mario titles. Nintendo released Super Mario All-Stars worldwide in late 1993, and rereleased it in 1994 with Super Mario World included as an additional title. The compilation was rereleased again, with special packaging, a 32-page art booklet, and a soundtrack CD, in 2010 for the Wii to commemorate the 25th anniversary of Super Mario Bros.<p></p>The SNES version received critical acclaim and is one of the bestselling Super Mario titles, with 10.55 million copies sold by 2015. Reviewers lauded Super Mario All-Stars as a must-have representing the SNES at its finest. They praised the effort that went into remastering the compilation's games and appreciated the updated graphics and music, but criticized its lack of innovation. Critics also disagreed as to which game was best. The Wii rerelease sold 2.24 million copies by 2011 but received mixed reviews. Critics were disappointed Nintendo did not add new games or features and were unfulfilled by the art booklet and soundtrack CD. Though they thought the compilation itself was of a high quality, critics recommended buying the games individually on the Wii's Virtual Console instead.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$109</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="https://i.pinimg.com/originals/11/46/9d/11469d5346196bdc4f8a3b9ddab69536.jpg" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#sunset_riders">
				  		Sunset Riders
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="sunset_riders" tabindex="-1" role="dialog" aria-labelledby="sunset_riders_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header text-center">
				        <h5 class="modal-title w-100" id="sunset_riders_Title">
				        	<img class="center" src="https://images.launchbox-app.com/dad79810-33c7-45d4-b311-f6892f913753.png">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				       Sunset Riders is a side-scrolling run and gun video game developed and released by Konami as a coin-operated video game on the JAMMA arcade platform in 1991. The game is set in the American Old West, where the player takes control of a bounty hunter who is seeking the rewards offered for various criminals.<p></p>The coin-op version was released in two variants: a two-player version and a four-player version. Home console versions of Sunset Riders were released for the Sega Mega Drive (Genesis) in 1992 and for the Super Nintendo Entertainment System (Super Famicom) in 1993, to a positive reception.<p></p>The game, which is set in a fanciful version of the American Old West, revolves around four bounty hunters named Steve, Billy Cool, Bob, and Cormano Wild, who are out to claim rewards offered for eliminating the most wanted outlaws in the West. At the beginning of each stage, the players are shown a wanted poster for the outlaw they will face at its end.<p></p>Sunset Riders can be played by up to two or four players, depending on the version of the game. In the two-player version each player can choose which of the four bounty hunters to play as at the start of the game, while in the four-player version each character is assigned to a different control panel. Steve and Billy wield revolvers, Bob carries a shotgun, and Cormano uses a rifle. The controls consist of an eight-way joystick for moving and aiming, and two buttons for shooting and jumping. The player(s) can jump between higher/lower floors and slide to avoid enemy attacks.<p></p>The objective of the game is to defeat a gang of outlaws in eight stages, with a fight against a strong boss character at the end of each. When two or more people are playing, the one who deals the most damage to a stage boss receives the entire bonus for defeating him. Five of the stages are played on foot, two on horseback, and one on a moving train. A bonus minigame is played after the second and fifth stages, in which the player(s) can earn additional points by shooting outlaws as they pop up. After all eight stages are cleared, the game restarts with increased difficulty.<p></p>Power-ups and bonus items can be obtained by entering doorways, defeating certain sack-carrying bandits, or opening sacks placed on the ground. Two power-ups are available, a gold sheriff's badge that grants fully automatic fire and a silver one that gives the player a second gun. Both power-ups can be equipped at once. Other weapons that can be used by the player include dynamite carried by female bandits (which must be thrown back before it explodes), hanging rocks/barrels/torches that can be dropped on enemies, and mounted Gatling guns available only in the last stage. An easter egg involves the defeat of the boss in the fifth stage; if Cormano is active at this point, he will catch the boss's sombrero and wear it for the remainder of the game.<p></p>One life is lost whenever the player is hit by any enemy attack, trampled by bulls, caught in a fire or explosion, or struck by a rock or obstacle. Any power-ups that a player has gained are also lost. After all lives are lost, the player may continue the game by inserting more credits.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$85</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="https://e.snmc.io/lk/lv/x/4372f37453e19bc8867c240596d9afcd/5285839" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#terranigma">
				  		Terranigma
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="terranigma" tabindex="-1" role="dialog" aria-labelledby="terranigma_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header text-center">
				        <h5 class="modal-title w-100" id="terranigma_Title">
				        	<img class="center" src="https://fantasyanime.com/legacy/terran_logo.png">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				       Terranigma, known as Tenchi Sōzō (天地創造, lit. "The Creation of Heaven and Earth") in Japan, is a 1995 action role-playing game for the Super Nintendo Entertainment System developed by Quintet. Manga artist Kamui Fujiwara is credited with the character designs. Terranigma tells the story of the Earth's resurrection by the hands of a boy named Ark, and its progress from the evolution of life to the present day.<p></p>It was published by Enix in Japan before Nintendo localized the game and released English, German, French and Spanish versions in Europe and Australia. The game has never been officially released in North America.<p></p>The game keeps a top-down perspective view of the world and utilizes an action-based real-time battle system that allows the player to perform different techniques depending on whether the protagonist is running, jumping, attacking, or using a combination of these three actions. Each attack is meant for dealing more damage to certain kinds of enemies, though in most cases there is little to no difference regardless of the technique used. Projectiles launched at Ark can be blocked by the guard technique, which is otherwise ineffective against melee attacks.<p></p>With each victory, experience points are gained, increasing the protagonist's level and his maximum hit points, strength, defense, and luck. Slain enemies sometimes leave behind gems which can be used to buy weapons, armors, healing items, and spells. There are no magic points in the game, all spells take the form of one-time use items instead. The player must collect Magirocks and take them to a magic shop to have them transformed into magic rings and summon medals. Those items are used up when casting the corresponding spell and then turn back to Magirocks which may be exchanged for new spells again. Upon defeating bosses and completing miscellaneous tasks, new types of magic become available.</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$99</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-6 items">
			<div>
				<img src="https://gamefaqs.akamaized.net/box/3/3/9/22339_front.jpg" class="img-thumbnail">
			</div>
			<div class="container mt-2">
				<!-- Button trigger modal -->
				<p>
					<button type="button" class="btn btn-info title" data-toggle="modal" data-target="#mickey_mania">
				  		Mickey Mania
					</button>
				</p>
				<!-- Modal -->
				<div class="modal fade" id="mickey_mania" tabindex="-1" role="dialog" aria-labelledby="mickey_mania_Title" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header text-center">
				        <h5 class="modal-title w-100" id="mickey_mania_Title">
				        	<img class="center" src="https://images.launchbox-app.com/671c812f-cafd-44de-9134-536e5f648526.png">
				        </h5>
				        <button type="button" class="close info" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				       Mickey Mania: The Timeless Adventures of Mickey Mouse is a 1994 platform video game developed by Traveller's Tales/Psygnosis and published by Sony Imagesoft for the Super Nintendo Entertainment System, Sega Genesis, and Sega CD. In the game, the player controls Mickey Mouse, who must navigate through various side-scrolling levels, each designed and based from classical Mickey Mouse cartoons. The game was later released on the PlayStation in 1996 as Mickey's Wild Adventure.<p></p>Mickey Mania is a platformer in which players control Mickey Mouse as he visits various locations based on his past cartoons, ranging from his debut in Steamboat Willie to the more recent The Prince and the Pauper. Mickey can attack enemies by either jumping on them or by using a limited supply of marbles, which are collected throughout the level. Mickey can take up to five hits, represented by the fingers he holds up on his hand, which can be replenished by collecting stars, whilst extra lives can be gained by finding Mickey hats. Levels offer a variety of challenges such as puzzles the player must solve, escaping from a rampaging moose and fleeing from a flaming staircase.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">
				        	Close
				        </button>
				      </div>
				    </div>
				  </div>
				</div>
				<div>
					<span>
						<strong>$49</strong>
					</span>
					<span>
						<button type="button" class="buy btn btn-success btn-sm shadow-none" data-toggle="modal" data-target="#buy">
						<i class="fas fa-cart-plus"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>

	<% include ./partials/footer%>
